server:
  port: 8082

spring:
  application:
    name: callback-worker

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: worker-group
      # earliest: ?? ???? / latest: ???? ???? ??
      auto-offset-reset: earliest

      # [??] ?? ??? ?? (??? ???, ?? ?? ? null? ???? ???? ?????)
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer

      properties:
        # [Delegate ??] ?? ??? ?? ? ????
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer

        spring.json.trusted.packages: "*"

        # [?? 1] ??? ??! (Boolean ??? ????? ?)
        # Producer? ?? ??? ??(??)? ? ?????.
        spring.json.use.type.headers: false

        # [?? 2] ??? ?????, ??? ? ???? ????? ??
        spring.json.value.default.type: com.example.callback.worker.infrastructure.queue.kafka.CallbackPayload

        # [??] type.mapping? ??????.
        # use.type.headers: false? ??? ? ? ??, default.type? ??? ?????.

    # (Producer ?? ??)
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    listener:
      missing-topics-fatal: false
      ack-mode: RECORD

app:
  kafka:
    consumer-topic: callback-topic

  broadcast:
    target-nodes:
      - "http://localhost:8083"
      - "http://localhost:8084"
      - "http://localhost:8085"

logging:
  level:
    root: INFO
    org.springframework.kafka: INFO